{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Inter";
        font-size: 16px;
      }
    </style>
    {% block meta %} {% endblock meta %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  </head>

  <body class="bg-[#111111]">
    {% block content %} {% endblock content %}
  </body>
</html>
