{% extends 'base.html' %} {% load static %} {% block meta %}
<title>KMStore</title>
{% endblock meta %} {% block content %}
<main class="min-h-screen">
  {% include 'navbar.html' %} {% include 'hero.html' %} {% if not your_listing%}
  <h1 class="text-center my-[20vh] font-bold text-4xl">
    You haven't listed anything yet
    <img
      src="{% static 'image/squirtle.png' %}"
      alt="Sold Out"
      class="mx-auto"
    />
  </h1>
  {% else %}
  <section
    id="product"
    class="flex items-center justify-center min-h-screen mx-[10vw]"
  >
    <div class="flex flex-col gap-4">
      <h1 class="text-center font-bold text-4xl">Your Listing</h1>
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-4">
        {% for prod in your_listing %}
           {% include 'card.html' with prod=prod %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %} {% if not keyboard_mouse_all %}
  <h2 class="text-center my-[20vh] font-bold text-4xl">Sold Out</h2>
  <img src="{% static 'image/squirtle.png' %}" alt="Sold Out" class="mx-auto" />
  {% else %}
  <section class="flex items-center justify-center min-h-screen mx-[10vw]">
    <div class="flex flex-col gap-4">
      <h1 class="text-center font-bold text-4xl">Available Products</h1>
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-4">
        {% for prod in keyboard_mouse_all %}
            {% include 'card.html' with prod=prod %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
</main>
{% endblock content %}
