{% extends 'base.html' %} {% load static %} {% block meta %}
<title>KMStore</title>
{% endblock meta %} {% block content %}
<main class="min-h-screen">
  {% include 'navbar.html' %} {% include 'hero.html' %} {% if not your_listing%}
  <h1 class="text-center my-[20vh] font-bold text-4xl">
    You haven't listed anything yet
    <img
      src="{% static 'image/squirtle.png' %}"
      alt="Sold Out"
      class="mx-auto"
    />
  </h1>
  {% else %}
  <section
    id="product"
    class="flex items-center justify-center min-h-screen mx-[10vw]"
  >
    <div class="flex flex-col gap-4">
      <h1 class="text-center font-bold text-4xl">Your Listing</h1>
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-4">
        {% for prod in your_listing %}
        <div
          class="p-4 rounded-lg flex flex-col gap-3 justify-center border border-gray-300 shadow-lg m-4 hover:opacity-80 transition-all"
        >
          <img
            width="200px"
            src="{{ prod.image }}"
            class="mx-auto"
            alt="{{ prod.name }}"
          />
          <h2 class="text-xl font-bold text-center">{{ prod.name }}</h2>
          <p class="text-white">{{ prod.description }}</p>
          <div class="grid grid-cols-2">
            <h2 class="font-bold">Brand</h2>
            <p class="text-white">: {{ prod.brand }}</p>
            {% if prod.dpi %}
            <h2 class="font-bold">Category</h2>
            <p class="text-white">: Mouse</p>
            <h2 class="font-bold">DPI</h2>
            <p class="text-white">: {{ prod.dpi }}</p>
            {% endif %} {% if prod.switch %}
            <h2 class="font-bold">Category</h2>
            <p class="text-white">: Keyboard</p>
            <h2 class="font-bold">Switch</h2>
            <p class="text-white">: {{ prod.switch }}</p>
            {% endif %} {% if prod.weight %}
            <h2 class="font-bold">Weight</h2>
            <p class="text-white">: {{ prod.weight }}g</p>
            {% endif %}
            <h2 class="font-bold">Stock</h2>
            <p class="text-white">: {{ prod.stock }}</p>
            <h2 class="font-bold">Price</h2>
            <p class="text-white">: {{ prod.price }}</p>
            <h2 class="font-bold">Penjual</h2>
            <p class="text-white">: {{ prod.author.username }}</p>
          </div>
          <div>
            {% if prod.dpi %}
            <a href="{% url 'main:delete_mouse' prod.id %}">
              <button
                class="p-2 bg-red-500 hover:bg-red-700 text-[#0d0e0d] transition-all rounded-[12px] hover:shadow-lg text-white"
              >
                Delete
              </button>
            </a>
            <a href="{% url 'main:edit_mouse' prod.id %}">
              <button
                class="p-2 bg-[#904edb] hover:bg-[#632f77] active:bg-[#7d3699] text-[#0d0e0d] transition-all rounded-[12px] hover:shadow-lg text-white"
              >
                Edit
              </button>
            </a>
            {% endif %} {% if prod.switch %}
            <a href="{% url 'main:delete_keyboard' prod.id %}">
              <button
                class="p-2 bg-red-500 hover:bg-red-700 active:bg-[#7d3699] text-[#0d0e0d] transition-all rounded-[12px] hover:shadow-lg text-white"
              >
                Delete
              </button>
            </a>
            <a href="{% url 'main:edit_keyboard' prod.id %}">
              <button
                class="p-2 bg-[#904edb] hover:bg-[#632f77] active:bg-[#7d3699] text-[#0d0e0d] transition-all rounded-[12px] hover:shadow-lg text-white"
              >
                Edit
              </button>
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %} {% if not keyboard_mouse_all %}
  <h2 class="text-center my-[20vh] font-bold text-4xl">Sold Out</h2>
  <img src="{% static 'image/squirtle.png' %}" alt="Sold Out" class="mx-auto" />
  {% else %}
  <section class="flex items-center justify-center min-h-screen mx-[10vw]">
    <div class="flex flex-col gap-4">
      <h1 class="text-center font-bold text-4xl">Available Products</h1>
      <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-4">
        {% for prod in keyboard_mouse_all %}
        <div
          class="p-4 rounded-lg flex flex-col gap-3 justify-center border border-gray-300 shadow-lg m-4 hover:opacity-80 transition-all"
        >
          <img
            width="200px"
            src="{{ prod.image }}"
            class="mx-auto"
            alt="{{ prod.name }}"
          />
          <h2 class="text-xl font-bold text-center">{{ prod.name }}</h2>
          <p class="text-white">{{ prod.description }}</p>
          <div class="grid grid-cols-2">
            <h2 class="font-bold">Brand</h2>
            <p class="text-white">: {{ prod.brand }}</p>
            {% if prod.dpi %}
            <h2 class="font-bold">Category</h2>
            <p class="text-white">: Mouse</p>
            <h2 class="font-bold">DPI</h2>
            <p class="text-white">: {{ prod.dpi }}</p>
            {% endif %} {% if prod.switch %}
            <h2 class="font-bold">Category</h2>
            <p class="text-white">: Keyboard</p>
            <h2 class="font-bold">Switch</h2>
            <p class="text-white">: {{ prod.switch }}</p>
            {% endif %} {% if prod.weight %}
            <h2 class="font-bold">Weight</h2>
            <p class="text-white">: {{ prod.weight }}g</p>
            {% endif %}
            <h2 class="font-bold">Stock</h2>
            <p class="text-white">: {{ prod.stock }}</p>
            <h2 class="font-bold">Price</h2>
            <p class="text-white">: {{ prod.price }}</p>
            <h2 class="font-bold">Penjual</h2>
            <p class="text-white">: {{ prod.author.username }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
</main>
{% endblock content %}
