{% extends 'base.html' %} {% block meta %}
<title>KMStore</title>
{% endblock meta %} {% block content %}
<main class="min-h-screen">
  <header
    class="bg-purple-500 text-white py-4 px-8 flex justify-between shadow-lg"
  >
    <div class="flex gap-2 items-center">
      <h1 class="text-2xl font-bold">{{ title }}</h1>
      <a
        href="{% url 'main:logout' %}"
        class="bg-red-500 hover:bg-red-700 transition-all hover:shadow-md text-white font-bold py-2 px-4 rounded"
      >
        <button>Logout</button>
      </a>
    </div>
    <div class="flex gap-4">
      <p class="text-lg font-bold">{{ name }}</p>
      <p class="text-lg font-bold">{{ npm }}</p>
      <p class="text-lg font-bold">{{ class }}</p>
    </div>
  </header>
  <section class="flex items-center justify-center min-h-[90vh]">
    <div class="bg-[#fbfbfb] shadow-lg p-4 rounded-lg flex flex-col gap-4">
      <h1 class="text-4xl font-bold text-center">{{ title }}</h1>
      <p class="text-center">
        Welcome to KMStore, the best keyboard & mouse online store in the world!
      </p>
      <div class="flex justify-center gap-2">
        <a
          href="/create/keyboard"
          target="_blank"
          class="bg-purple-500 hover:bg-purple-700 transition-all hover:shadow-md text-white font-bold py-2 px-4 rounded"
          >Sell a Keyboard</a
        >
        <a
          href="/create/mouse"
          target="_blank"
          class="bg-blue-500 hover:bg-blue-700 transition-all hover:shadow-md text-white font-bold py-2 px-4 rounded"
          >Sell a Mouse</a
        >
      </div>
    </div>
  </section>
  {% if not mouse %}
  <h2 class="text-center my-[20vh] font-bold text-4xl">Belum ada mouse</h2>
  {% else %}
  <section class="flex items-center justify-center min-h-screen mx-[10vw]">
    <div class="flex flex-col gap-4">
      <h1 class="text-4xl font-bold text-center">Mouse</h1>
      <div
        class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-2 gap-x-3 gap-y-4"
      >
        {% for m in mouse %}
        <div
          class="p-4 rounded-lg w-[300px] flex flex-col gap-3 justify-center bg-[#fbfbfb] shadow-lg"
        >
          <img
            width="200px"
            src="{{ m.image }}"
            class="mx-auto"
            alt="{{ m.name }}"
          />
          <h2 class="text-xl font-bold text-center">{{ m.name }}</h2>
          <p>{{ m.description }}</p>
          <div class="grid grid-cols-2">
            <h2 class="font-bold">Brand</h2>
            <p>: {{ m.brand }}</p>
            <h2 class="font-bold">DPI</h2>
            <p>: {{ m.dpi }}</p>
            <h2 class="font-bold">Weight</h2>
            <p>: {{ m.weight }}g</p>
            <h2 class="font-bold">Stock</h2>
            <p>: {{ m.stock }}</p>
            <h2 class="font-bold">Price</h2>
            <p>: {{ m.price }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %} {% if not keyboards %}
  <h2 class="text-center my-[20vh] font-bold text-4xl">Belum ada keyboard</h2>
  {% else %}
  <section class="flex items-center justify-center min-h-screen mx-[10vw]">
    <div class="flex flex-col gap-4">
      <h1 class="text-4xl font-bold text-center">Keyboard</h1>
      <div
        class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-2 gap-x-3 gap-y-4"
      >
        {% for k in keyboards %}
        <div
          class="p-4 rounded-lg w-[300px] flex flex-col gap-3 justify-center bg-[#fbfbfb] shadow-lg"
        >
          <img
            width="200px"
            src="{{ k.image }}"
            class="mx-auto"
            alt="{{ k.name }}"
          />
          <h2 class="text-xl font-bold text-center">{{ k.name }}</h2>
          <p>{{ k.description }}</p>
          <div class="grid grid-cols-2">
            <h2 class="font-bold">Brand</h2>
            <p>: {{ k.brand }}</p>
            <h2 class="font-bold">Switch</h2>
            <p>: {{ k.switch }}</p>
            <h2 class="font-bold">Stock</h2>
            <p>: {{ k.stock }}</p>
            <h2 class="font-bold">Price</h2>
            <p>: {{ k.price }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
</main>
{% endblock content %}
