{% extends 'base.html' %} {% block meta %}
<title>KMStore | Register</title>
{% endblock meta %} {% block content %}
<main class="flex items-center justify-center min-h-screen">
  <section
    class="bg-black bg-opacity-50 backdrop-filter backdrop-blur-lg px-8 py-6 rounded-[20px] shadow-lg flex flex-col gap-5"
  >
    <h1 class="font-bold text-[24px] text-center">Register</h1>
    <form method="POST" class="flex flex-col gap-5">
      {% csrf_token %}
      <div class="grid gap-4">
        <div class="flex flex-col gap-2">
          <label for="{{ form.username.id_for_label }}" class="text-white"
            >{{ form.username.label }}</label
          >
          <input
            class="p-2 text-gray-300 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="text"
            name="username"
            id="username"
            placeholder="Username anda"
            value="{{ form.username.value|default_if_none:'' }}"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="password1" class="text-white"
            >Password</label
          >
          <input
            class="p-2 text-gray-300 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="password"
            name="password1"
            id="password1"
            placeholder="Password anda"
            value="{{ form.password1.value|default_if_none:'' }}"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="{{ form.password2.id_for_label }}" class="text-white"
            >{{ form.password2.label }}</label
          >
          <input
            class="p-2 text-gray-300 bg-[#4625581a] hover:bg-[#3602010a] transition-all rounded-lg"
            type="password"
            name="password2"
            id="password2"
            placeholder="Ulangi password anda"
            value="{{ form.password2.value|default_if_none:'' }}"
          />
        </div>
      </div>
      <button
        class="p-2 bg-[#904edb] hover:bg-[#632f77] active:bg-[#7d3699] text-[#0d0e0d] transition-all rounded-[12px] hover:shadow-lg text-white"
        type="submit"
        value="register"
      >
        Register
      </button>
    </form>
    <p class="text-white">
      Already have an account?
      <a
        href="{% url 'main:login' %}"
        class="text-[#904edb] hover:text-[#632f77] transition-all"
        >Login Now</a
      >
    </p>
  </section>
</main>
{% endblock content %}
